<a href="https://colab.research.google.com/github/dotsnangles/NMT-with-transformers/blob/master/data_reformat_domain.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !rm -rf ./data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import json, gdown
import pandas as pd

In [ ]:
id = "1J21-T8wYjlj-91CxtxEzrcE34CDt7CM3"
gdown.download_folder(id=id, quiet=True, use_cookies=False)
!unzip /content/data/TS1.zip -d /content/data
!unzip /content/data/VS1.zip -d /content/data

Archive:  /content/data/TS1.zip
  inflating: /content/data/기술과학분야_한영_train_set.json
Archive:  /content/data/VS1.zip
  inflating: /content/data/기술과학분야_한영_valid_set.json

In [ ]:
train_json_path = './data/기술과학분야_한영_train_set.json'
val_json_path = './data/기술과학분야_한영_valid_set.json'

with open(train_json_path, 'rb') as f:
    train_json = json.load(f)
with open(val_json_path, 'rb') as f:
    val_json = json.load(f)

len(train_json['data']), len(val_json['data'])

(1200144, 150018)

In [ ]:
train = pd.json_normalize(train_json['data'])
val = pd.json_normalize(val_json['data'])
train.info(), val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200144 entries, 0 to 1200143
Data columns (total 21 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   sn                      1200144 non-null  object
 1   data_set                1200144 non-null  object
 2   domain                  1200144 non-null  object
 3   subdomain               1200144 non-null  object
 4   ko_original             1200144 non-null  object
 5   ko                      1200144 non-null  object
 6   mt                      1200144 non-null  object
 7   en                      1200144 non-null  object
 8   source_language         1200144 non-null  object
 9   target_language         1200144 non-null  object
 10  word_count_ko           1200144 non-null  int64
 11  word_count_en           1200144 non-null  int64
 12  word_ratio              1200144 non-null  float64
 13  file_name               1200144 non-null  object
 14  source                  1200144 non-null  object
 15  license                 1200144 non-null  object
 16  style                   1200144 non-null  object
 17  included_unknown_words  1200144 non-null  bool
 18  ner                     0 non-null        float64
 19  ner.text                196313 non-null   object
 20  ner.tags                196313 non-null   object
dtypes: bool(1), float64(2), int64(2), object(16)
memory usage: 184.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150018 entries, 0 to 150017
Data columns (total 21 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   sn                      150018 non-null  object
 1   data_set                150018 non-null  object
 2   domain                  150018 non-null  object
 3   subdomain               150018 non-null  object
 4   ko_original             150018 non-null  object
 5   ko                      150018 non-null  object
 6   mt                      150018 non-null  object
 7   en                      150018 non-null  object
 8   source_language         150018 non-null  object
 9   target_language         150018 non-null  object
 10  word_count_ko           150018 non-null  int64
 11  word_count_en           150018 non-null  int64
 12  word_ratio              150018 non-null  float64
 13  file_name               150018 non-null  object
 14  source                  150018 non-null  object
 15  license                 150018 non-null  object
 16  style                   150018 non-null  object
 17  included_unknown_words  150018 non-null  bool
 18  ner                     0 non-null       float64
 19  ner.text                24646 non-null   object
 20  ner.tags                24646 non-null   object
dtypes: bool(1), float64(2), int64(2), object(16)
memory usage: 23.0+ MB

(None, None)

In [ ]:
train = train[['ko_original', 'ko', 'en', 'mt', 'domain', 'subdomain']]
val = val[['ko_original', 'ko', 'en', 'mt', 'domain', 'subdomain']]
train.info(), val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200144 entries, 0 to 1200143
Data columns (total 6 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   ko_original  1200144 non-null  object
 1   ko           1200144 non-null  object
 2   en           1200144 non-null  object
 3   mt           1200144 non-null  object
 4   domain       1200144 non-null  object
 5   subdomain    1200144 non-null  object
dtypes: object(6)
memory usage: 54.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150018 entries, 0 to 150017
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ko_original  150018 non-null  object
 1   ko           150018 non-null  object
 2   en           150018 non-null  object
 3   mt           150018 non-null  object
 4   domain       150018 non-null  object
 5   subdomain    150018 non-null  object
dtypes: object(6)
memory usage: 6.9+ MB

(None, None)

In [ ]:
# domain = train['subdomain'] == '인공지능'
# train = train.loc[domain]
# domain = val['subdomain'] == '인공지능'
# val = val.loc[domain]
# train = train[['en', 'ko_original']]
# val = val[['en', 'ko_original']]
# train.info(), val.info()

In [ ]:
domain = train['domain'] == '기술과학'
train = train.loc[domain]
domain = val['domain'] == '기술과학'
val = val.loc[domain]

In [ ]:
train.info(), val.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 319551 entries, 3 to 1200142
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ko_original  319551 non-null  object
 1   ko           319551 non-null  object
 2   en           319551 non-null  object
 3   mt           319551 non-null  object
 4   domain       319551 non-null  object
 5   subdomain    319551 non-null  object
dtypes: object(6)
memory usage: 17.1+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 40359 entries, 0 to 150017
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ko_original  40359 non-null  object
 1   ko           40359 non-null  object
 2   en           40359 non-null  object
 3   mt           40359 non-null  object
 4   domain       40359 non-null  object
 5   subdomain    40359 non-null  object
dtypes: object(6)
memory usage: 2.2+ MB

(None, None)

In [ ]:
def check_if_str(col):
    for e in col.to_list():
        if type(e) is not str:
            print(e)

In [ ]:
check_if_str(train['ko_original'])

In [ ]:
check_if_str(train['ko'])

In [ ]:
check_if_str(train['en'])

In [ ]:
check_if_str(train['mt'])

In [ ]:
check_if_str(val['ko_original'])

In [ ]:
check_if_str(val['ko'])

In [ ]:
check_if_str(val['en'])

In [ ]:
check_if_str(val['mt'])

In [ ]:
train.to_csv('/content/drive/MyDrive/Data Science/알파코 딥러닝 부트캠프/프로젝트/translators/data/train_domain.csv', index=False)
val.to_csv('/content/drive/MyDrive/Data Science/알파코 딥러닝 부트캠프/프로젝트/translators/data/val_domain.csv', index=False)

In [ ]:
pd.read_csv('/content/drive/MyDrive/Data Science/알파코 딥러닝 부트캠프/프로젝트/translators/data/train_domain.csv')

,ko_original,ko,en,mt,domain,subdomain
0,"비교기(1235 및 1237)는 설정에 따라 Relu 활성함수로 나타낼 수 있으며,...","비교기(1235 및 1237)는 설정에 따라 Relu 활성함수로 나타낼 수 있으며,...",The comparators 1235 and 1237 may be expressed...,The comparators 1235 and 1237 may be expressed...,기술과학,인공지능
1,"서버(320)는 분석 모델 DB(325)에 소스 영상을 입력하고, 학습 모델에서 출...","서버(320)는 분석 모델 DB(325)에 소스 영상을 입력하고, 학습 모델에서 출...",The server 320 may input a source image to the...,The server 320 may input a source image to the...,기술과학,인공지능
2,상기 회전을 결정하는 단계는 상기 얼굴 이미지에 포함된 눈의 모양에 기초하여 상기 ...,상기 회전을 결정하는 단계는 상기 얼굴 이미지에 포함된 눈의 모양에 기초하여 상기 ...,The step of determining the rotation may inclu...,The determining of the rotation may include de...,기술과학,IT
3,"블록 형태 및 분할 형태는 픽처 또는 슬라이스마다 상이하게 결정되거나, 각각의 최대...","블록 형태 및 분할 형태는 픽처 또는 슬라이스마다 상이하게 결정되거나, 각각의 최대...",The block shape and the split shape may be dif...,The block shape and the split shape may be dif...,기술과학,인공지능
4,"사용자 장치(204)는 사용자 장치(204)의 카메라, 다른 이미지 캡처 장치 또는...","사용자 장치(204)는 사용자 장치(204)의 카메라, 다른 이미지 캡처 장치 또는...",The user device 204 may detect body movement t...,The user device 204 may detect body movement t...,기술과학,IT
...,...,...,...,...,...,...
319546,브라우징 엔진(505)은 검색 질의에 매칭하는 하나 이상의 결과 영상 리스트를 제공...,브라우징 엔진(505)은 검색 질의에 매칭하는 하나 이상의 결과 영상 리스트를 제공...,The browsing engine 505 may provide a list of ...,The browsing engine 505 may provide a list of ...,기술과학,빅데이터
319547,제1 내지 제4 지문 구동 전극(TEb1 내지 TEb4)은 제5 터치 구동 전극(T...,제1 내지 제4 지문 구동 전극(TEb1 내지 TEb4)은 제5 터치 구동 전극(T...,The first to fourth fingerprint driving electr...,The first to fourth fingerprint driving electr...,기술과학,IT
319548,"전자 장치(1000)는 검색된 SNS 게시글의 구조, 포함된 단어 등을 이용하여, ...","전자 장치(1000)는 검색된 SNS 게시글의 구조, 포함된 단어 등을 이용하여, ...",The electronic device 1000 may generate a text...,The electronic device 1000 may generate a text...,기술과학,인공지능
319549,"변수 i가 k와 일치하지 아니하는 경우, 단계 S250에서 변수 i는 1만큼 증가할...","변수 i가 k와 일치하지 아니하는 경우, 단계 S250에서 변수 i는 1만큼 증가할...","If the variable i does not match k, the variab...","If the variable i does not match k, the variab...",기술과학,인공지능
319550,"공공 입찰 관련 통계 분류를 248,832건으로 분류하고, 신규 입찰 공고 및 개찰...","공공 입찰 관련 통계 분류를 248,832건으로 분류하고, 신규 입찰 공고 및 개찰...",The statistical classification related to publ...,The statistical classification related to publ...,기술과학,인공지능

In [ ]:
pd.read_csv('/content/drive/MyDrive/Data Science/알파코 딥러닝 부트캠프/프로젝트/translators/data/val_domain.csv')

,ko_original,ko,en,mt,domain,subdomain
0,상기 제1 지점 및 상기 제2 지점은 표시 장치(160) 내에 위치하는 서로 상이한...,상기 제1 지점 및 상기 제2 지점은 표시 장치(160) 내에 위치하는 서로 상이한...,The first point and the second point may inclu...,The first point and the second point may inclu...,기술과학,IT
1,시선 추적부(206)가 딥러닝 모델(210)을 이용하여 사용자의 시선을 보다 정확히...,시선 추적부(206)가 딥러닝 모델(210)을 이용하여 사용자의 시선을 보다 정확히...,In order for the eye tracking unit 206 to more...,In order for the eye tracking unit 206 to more...,기술과학,IT
2,에지 트림(608b)은 또한 광이 에지(612)를 통해 커버(604b)로 진입하거나...,에지 트림(608b)은 또한 광이 에지(612)를 통해 커버(604b)로 진입하거나...,The edge trim 608b may also prevent light from...,Edge trim 608b may also prevent light from ent...,기술과학,IT
3,"이를 위하여, 상기 본인 인증 시스템(100)은 상기 유저의 성문(聲紋, voice...","이를 위하여, 상기 본인 인증 시스템(100)은 상기 유저의 성문(聲紋, voice...","To this end, the identity authentication syste...","To this end, the identity authentication syste...",기술과학,IT
4,데이터 클록 회로(304)는 데이터 신호(310)를 주변 클록(312)과 비교하고 ...,데이터 클록 회로(304)는 데이터 신호(310)를 주변 클록(312)과 비교하고 ...,The data clock circuit 304 may compare the dat...,The data clock circuit 304 may compare the dat...,기술과학,빅데이터
...,...,...,...,...,...,...
40354,"임피던스 계측을 위한 교류 전류 I1, I2가 주행 모터(53) 등의 부하에 흐르는...","임피던스 계측을 위한 교류 전류 I1, I2가 주행 모터(53) 등의 부하에 흐르는...",Since the alternating currents I1 and I2 for t...,Since the alternating currents I1 and I2 for i...,기술과학,인공지능
40355,"엔드 노드(100)는 라우터 노드(200)로 검침 데이터를 전송하며, 라우터 노드(...","엔드 노드(100)는 라우터 노드(200)로 검침 데이터를 전송하며, 라우터 노드(...",The end node 100 transmits the meter reading d...,The end node 100 transmits the meter reading d...,기술과학,빅데이터
40356,"상호 작용식 미디어 안내 애플리케이션은 유저가 콘텐츠 사이를 탐색하고, 콘텐츠의 위...","상호 작용식 미디어 안내 애플리케이션은 유저가 콘텐츠 사이를 탐색하고, 콘텐츠의 위...",An interactive media guidance application may ...,An interactive media guidance application may ...,기술과학,인공지능
40357,컨볼루션 신경망(312)은 데이터베이스(140)에 입력된 IVUS 원영상 및 샘플 ...,컨볼루션 신경망(312)은 데이터베이스(140)에 입력된 IVUS 원영상 및 샘플 ...,The convolutional neural network 312 may deter...,The convolutional neural network 312 may deter...,기술과학,인공지능
40358,관리 단말(200)은 데이터 관리 프로그램의 실행을 위한 접속 인증 정보를 포함하는...,관리 단말(200)은 데이터 관리 프로그램의 실행을 위한 접속 인증 정보를 포함하는...,The management terminal 200 includes an interf...,The management terminal 200 includes an interf...,기술과학,빅데이터