<a href="https://colab.research.google.com/github/dotsnangles/en2ko-ko2en-translator-T5-small/blob/master/data_reformat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [57]:
import json, gdown
import pandas as pd

In [4]:
# same as the above, but with the folder ID
id = "1J21-T8wYjlj-91CxtxEzrcE34CDt7CM3"
gdown.download_folder(id=id, quiet=True, use_cookies=False)

['/content/data/TS1.zip', '/content/data/VS1.zip']

In [7]:
!unzip /content/data/TS1.zip -d /content/data
!unzip /content/data/VS1.zip -d /content/data

Archive:  /content/data/TS1.zip
  inflating: /content/data/기술과학분야_한영_train_set.json
Archive:  /content/data/VS1.zip
  inflating: /content/data/기술과학분야_한영_valid_set.json

In [8]:
train_json_path = '/content/data/기술과학분야_한영_train_set.json'
val_json_path = '/content/data/기술과학분야_한영_valid_set.json'

In [9]:
with open(train_json_path, 'rb') as f:
    train_json = json.load(f)
with open(val_json_path, 'rb') as f:
    val_json = json.load(f)

In [40]:
len(train_json['data']), len(val_json['data'])

(1200144, 150018)

In [41]:
train = pd.json_normalize(train_json['data'])
val = pd.json_normalize(val_json['data'])
train = train[['ko_original', 'en']]
val = val[['ko_original', 'en']]
train.info(), val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200144 entries, 0 to 1200143
Data columns (total 2 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   ko_original  1200144 non-null  object
 1   en           1200144 non-null  object
dtypes: object(2)
memory usage: 18.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150018 entries, 0 to 150017
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ko_original  150018 non-null  object
 1   en           150018 non-null  object
dtypes: object(2)
memory usage: 2.3+ MB

(None, None)

In [47]:
def check_if_str(col):
    for e in col.to_list():
        if type(e) is not str:
            print(e)

In [48]:
check_if_str(train['ko_original'])

In [49]:
check_if_str(train['en'])

In [50]:
check_if_str(val['ko_original'])

In [51]:
check_if_str(val['en'])

In [53]:
train.iloc[0]

ko_original          한 의료단체는 연방법원에 보건부 지침 취소를 요구하는 소송을 제기하기도 했다.
en             A medical group has even filed a federal court...
Name: 0, dtype: object

In [54]:
val.iloc[0]

ko_original    상기 제1 지점 및 상기 제2 지점은 표시 장치(160) 내에 위치하는 서로 상이한...
en             The first point and the second point may inclu...
Name: 0, dtype: object

In [56]:
train.to_csv('/content/drive/MyDrive/Data Science/알파코 딥러닝 부트캠프/프로젝트/en2ko ko2en translator T5-small/data/train.csv', index=False)
val.to_csv('/content/drive/MyDrive/Data Science/알파코 딥러닝 부트캠프/프로젝트/en2ko ko2en translator T5-small/data/val.csv', index=False)

In [58]:
pd.read_csv('/content/drive/MyDrive/Data Science/알파코 딥러닝 부트캠프/프로젝트/en2ko ko2en translator T5-small/data/train.csv')

,ko_original,en
0,한 의료단체는 연방법원에 보건부 지침 취소를 요구하는 소송을 제기하기도 했다.,A medical group has even filed a federal court...
1,특정 지역에서는 순위 변동이 크게 나타나고 있는 점에 주목해야 한다.,It should be noted that there are significant ...
2,일본·중국·한국의 학자들이 참석해 개발학의 현황부터 유엔의 '2030 지속가능 개발...,"Scholars from Japan, China, and Korea will loo..."
3,"비교기(1235 및 1237)는 설정에 따라 Relu 활성함수로 나타낼 수 있으며,...",The comparators 1235 and 1237 may be expressed...
4,이 프로그램은 도시 재생의 초점을 낙후 지역이나 불량 주택을 철거하기보다는 근린 지...,The program is credited with focusing urban re...
...,...,...
1200139,이전 전의 공장에서 영위하던 업종과 이전 후의 공장에서 영위하는 업종이 동일하여야 한다.,The business operated when you look at the fac...
1200140,괌의 일간지 `BBB'는 29일 인터넷판 기사에서 웹 사이트 2곳이 한국의 임신부를...,"Guam's daily newspaper ""BBB"" reported on the 2..."
1200141,현재 러시아 국립 크라스노야르스크 오페라극장 객원단원으로 한국과 러시아를 오가며 활...,He is currently a member of the Russian Nation...
1200142,"공공 입찰 관련 통계 분류를 248,832건으로 분류하고, 신규 입찰 공고 및 개찰...",The statistical classification related to publ...
1200143,"임정 유적지 관리처의 한 중국인 직원은 ""전시물 등만 새롭게 교체하고 구조나 규모 ...",A Chinese employee at the Limjeong Historic Si...

In [59]:
pd.read_csv('/content/drive/MyDrive/Data Science/알파코 딥러닝 부트캠프/프로젝트/en2ko ko2en translator T5-small/data/val.csv')

,ko_original,en
0,상기 제1 지점 및 상기 제2 지점은 표시 장치(160) 내에 위치하는 서로 상이한...,The first point and the second point may inclu...
1,탐색 학습 또한 기업의 경영 성과에 정의 영향을 미칠 것이다.,Exploratory learning will also have a definiti...
2,자국과 자유 무역 협정이 체결되지 않은 국가들로부터 수입된 완성차와 자국에 생산 시...,High tariffs in the range of 20% to 40% are ap...
3,만일 이를 인정한다면 소비자의 의사에 기하지 않은 의무(반송 의무)가 사업자의 일방...,"If this is acknowledged, there will arise a pr..."
4,위임장 권유 절차는 주주 총회의 소집 절차와 매우 유사한 방식이나 소집 절차와 동시...,The proxy solicitation process is very similar...
...,...,...
150013,이주민과 원주민의 행위 유형 및 가치 지향을 비교해 보면 많은 차이가 있음을 알 수...,Comparing the behavior patterns and value orie...
150014,또 항공기에서 이 남성의 주변 좌석에 있던 승객 등 농후접촉자 11명도 나리타 시내...,"In addition, 11 wealthy contacts were quaranti..."
150015,영국의 커먼로의 바탕에 여러 로마법적 요소들이 존재하였는데 그것이 그대로 미국의 커...,Numerous Roman legal elements existed in Engla...
150016,잘 알려진 대로 9/11 테러로 미국의 대전략(grand strategy)은 중동에...,"As is well known, with the 9/11 attacks, the U..."
150017,관리 단말(200)은 데이터 관리 프로그램의 실행을 위한 접속 인증 정보를 포함하는...,The management terminal 200 includes an interf...