<a href="https://colab.research.google.com/github/dotsnangles/NMT-with-transformers/blob/master/data_reformat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# !rm -rf ./data

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import json, gdown
import pandas as pd

In [4]:
id = "1J21-T8wYjlj-91CxtxEzrcE34CDt7CM3"
gdown.download_folder(id=id, quiet=True, use_cookies=False)
!unzip /content/data/TS1.zip -d /content/data
!unzip /content/data/VS1.zip -d /content/data

Archive:  /content/data/TS1.zip
  inflating: /content/data/기술과학분야_한영_train_set.json
Archive:  /content/data/VS1.zip
  inflating: /content/data/기술과학분야_한영_valid_set.json

In [5]:
train_json_path = './data/기술과학분야_한영_train_set.json'
val_json_path = './data/기술과학분야_한영_valid_set.json'

with open(train_json_path, 'rb') as f:
    train_json = json.load(f)
with open(val_json_path, 'rb') as f:
    val_json = json.load(f)

len(train_json['data']), len(val_json['data'])

(1200144, 150018)

In [10]:
train = pd.json_normalize(train_json['data'])
val = pd.json_normalize(val_json['data'])
train.info(), val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200144 entries, 0 to 1200143
Data columns (total 21 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   sn                      1200144 non-null  object
 1   data_set                1200144 non-null  object
 2   domain                  1200144 non-null  object
 3   subdomain               1200144 non-null  object
 4   ko_original             1200144 non-null  object
 5   ko                      1200144 non-null  object
 6   mt                      1200144 non-null  object
 7   en                      1200144 non-null  object
 8   source_language         1200144 non-null  object
 9   target_language         1200144 non-null  object
 10  word_count_ko           1200144 non-null  int64
 11  word_count_en           1200144 non-null  int64
 12  word_ratio              1200144 non-null  float64
 13  file_name               1200144 non-null  object
 14  source                  1200144 non-null  object
 15  license                 1200144 non-null  object
 16  style                   1200144 non-null  object
 17  included_unknown_words  1200144 non-null  bool
 18  ner                     0 non-null        float64
 19  ner.text                196313 non-null   object
 20  ner.tags                196313 non-null   object
dtypes: bool(1), float64(2), int64(2), object(16)
memory usage: 184.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150018 entries, 0 to 150017
Data columns (total 21 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   sn                      150018 non-null  object
 1   data_set                150018 non-null  object
 2   domain                  150018 non-null  object
 3   subdomain               150018 non-null  object
 4   ko_original             150018 non-null  object
 5   ko                      150018 non-null  object
 6   mt                      150018 non-null  object
 7   en                      150018 non-null  object
 8   source_language         150018 non-null  object
 9   target_language         150018 non-null  object
 10  word_count_ko           150018 non-null  int64
 11  word_count_en           150018 non-null  int64
 12  word_ratio              150018 non-null  float64
 13  file_name               150018 non-null  object
 14  source                  150018 non-null  object
 15  license                 150018 non-null  object
 16  style                   150018 non-null  object
 17  included_unknown_words  150018 non-null  bool
 18  ner                     0 non-null       float64
 19  ner.text                24646 non-null   object
 20  ner.tags                24646 non-null   object
dtypes: bool(1), float64(2), int64(2), object(16)
memory usage: 23.0+ MB

(None, None)

In [11]:
train = train[['ko_original', 'ko', 'en', 'mt', 'domain', 'subdomain']]
val = val[['ko_original', 'ko', 'en', 'mt', 'domain', 'subdomain']]
train.info(), val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200144 entries, 0 to 1200143
Data columns (total 6 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   ko_original  1200144 non-null  object
 1   ko           1200144 non-null  object
 2   en           1200144 non-null  object
 3   mt           1200144 non-null  object
 4   domain       1200144 non-null  object
 5   subdomain    1200144 non-null  object
dtypes: object(6)
memory usage: 54.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150018 entries, 0 to 150017
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ko_original  150018 non-null  object
 1   ko           150018 non-null  object
 2   en           150018 non-null  object
 3   mt           150018 non-null  object
 4   domain       150018 non-null  object
 5   subdomain    150018 non-null  object
dtypes: object(6)
memory usage: 6.9+ MB

(None, None)

In [12]:
domain = train['subdomain'] == '인공지능'
train = train.loc[domain]
domain = val['subdomain'] == '인공지능'
val = val.loc[domain]
# train = train[['en', 'ko_original']]
# val = val[['en', 'ko_original']]

In [13]:
train.info(), val.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79979 entries, 3 to 1200142
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ko_original  79979 non-null  object
 1   ko           79979 non-null  object
 2   en           79979 non-null  object
 3   mt           79979 non-null  object
 4   domain       79979 non-null  object
 5   subdomain    79979 non-null  object
dtypes: object(6)
memory usage: 4.3+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10131 entries, 30 to 150008
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ko_original  10131 non-null  object
 1   ko           10131 non-null  object
 2   en           10131 non-null  object
 3   mt           10131 non-null  object
 4   domain       10131 non-null  object
 5   subdomain    10131 non-null  object
dtypes: object(6)
memory usage: 554.0+ KB

(None, None)

In [14]:
def check_if_str(col):
    for e in col.to_list():
        if type(e) is not str:
            print(e)

In [21]:
check_if_str(train['ko_original'])

In [22]:
check_if_str(train['ko'])

In [19]:
check_if_str(train['en'])

In [23]:
check_if_str(train['mt'])

In [25]:
check_if_str(val['ko_original'])

In [26]:
check_if_str(val['ko'])

In [27]:
check_if_str(val['en'])

In [28]:
check_if_str(val['mt'])

In [32]:
train.to_csv('/content/drive/MyDrive/Data Science/알파코 딥러닝 부트캠프/프로젝트/translators/data/train.csv', index=False)
val.to_csv('/content/drive/MyDrive/Data Science/알파코 딥러닝 부트캠프/프로젝트/translators/data/val.csv', index=False)

In [34]:
pd.read_csv('/content/drive/MyDrive/Data Science/알파코 딥러닝 부트캠프/프로젝트/translators/data/train.csv')

,ko_original,ko,en,mt,domain,subdomain
0,"비교기(1235 및 1237)는 설정에 따라 Relu 활성함수로 나타낼 수 있으며,...","비교기(1235 및 1237)는 설정에 따라 Relu 활성함수로 나타낼 수 있으며,...",The comparators 1235 and 1237 may be expressed...,The comparators 1235 and 1237 may be expressed...,기술과학,인공지능
1,"서버(320)는 분석 모델 DB(325)에 소스 영상을 입력하고, 학습 모델에서 출...","서버(320)는 분석 모델 DB(325)에 소스 영상을 입력하고, 학습 모델에서 출...",The server 320 may input a source image to the...,The server 320 may input a source image to the...,기술과학,인공지능
2,"블록 형태 및 분할 형태는 픽처 또는 슬라이스마다 상이하게 결정되거나, 각각의 최대...","블록 형태 및 분할 형태는 픽처 또는 슬라이스마다 상이하게 결정되거나, 각각의 최대...",The block shape and the split shape may be dif...,The block shape and the split shape may be dif...,기술과학,인공지능
3,생성된 인공 신경망은 텍스트 기반 프로그래밍 언어의 형태로 변환되어 제2 언어 제어...,생성된 인공 신경망은 텍스트 기반 프로그래밍 언어의 형태로 변환되어 제2 언어 제어...,The generated artificial neural network may be...,The generated artificial neural network may be...,기술과학,인공지능
4,검출된 결함 또는 핫스팟과 관련된 정보는 예를 들어 웨이퍼 테스터(16)에 의해 결...,검출된 결함 또는 핫스팟과 관련된 정보는 예를 들어 웨이퍼 테스터(16)에 의해 결...,Information related to the detected defect or ...,Information related to the detected defect or ...,기술과학,인공지능
...,...,...,...,...,...,...
79974,상기 질의응답(Q/A) 데이터베이스(230)는 상기 인공 지능 질의/응답 서비스부(...,상기 질의응답(Q/A) 데이터베이스(230)는 상기 인공 지능 질의/응답 서비스부(...,The question/answer (Q/A) database 230 perform...,The Q/A database 230 performs a search accordi...,기술과학,인공지능
79975,알려진 연구들은 모두 한 이미지의 시각적 속성이 다른 이미지의 시각적 속성으로 변경...,알려진 연구들은 모두 한 이미지의 시각적 속성이 다른 이미지의 시각적 속성으로 변경...,All known studies deal with the visual attribu...,All known studies deal with the visual attribu...,기술과학,인공지능
79976,"전자 장치(1000)는 검색된 SNS 게시글의 구조, 포함된 단어 등을 이용하여, ...","전자 장치(1000)는 검색된 SNS 게시글의 구조, 포함된 단어 등을 이용하여, ...",The electronic device 1000 may generate a text...,The electronic device 1000 may generate a text...,기술과학,인공지능
79977,"변수 i가 k와 일치하지 아니하는 경우, 단계 S250에서 변수 i는 1만큼 증가할...","변수 i가 k와 일치하지 아니하는 경우, 단계 S250에서 변수 i는 1만큼 증가할...","If the variable i does not match k, the variab...","If the variable i does not match k, the variab...",기술과학,인공지능
79978,"공공 입찰 관련 통계 분류를 248,832건으로 분류하고, 신규 입찰 공고 및 개찰...","공공 입찰 관련 통계 분류를 248,832건으로 분류하고, 신규 입찰 공고 및 개찰...",The statistical classification related to publ...,The statistical classification related to publ...,기술과학,인공지능

In [35]:
pd.read_csv('/content/drive/MyDrive/Data Science/알파코 딥러닝 부트캠프/프로젝트/translators/data/val.csv')

,ko_original,ko,en,mt,domain,subdomain
0,"상부 전극(160)은 금속물로 형성됨이 바람직하며, 고분자 절연층(140)의 계면에...","상부 전극(160)은 금속물로 형성됨이 바람직하며, 고분자 절연층(140)의 계면에...",The upper electrode 160 is preferably formed o...,The upper electrode 160 is preferably formed o...,기술과학,인공지능
1,테스트 실행기(1220)는 생성된 테스트 케이스들에 기초하여 컴포넌트들을 테스트하는...,테스트 실행기(1220)는 생성된 테스트 케이스들에 기초하여 컴포넌트들을 테스트하는...,The test executor 1220 may calculate the numbe...,The test executor 1220 may calculate the numbe...,기술과학,인공지능
2,콘텐츠 제공자들(250)은 별도의 제작 환경을 구축할 필요 없이 본 개시의 플랫폼 ...,콘텐츠 제공자들(250)은 별도의 제작 환경을 구축할 필요 없이 본 개시의 플랫폼 ...,The content providers 250 may produce teaching...,The content providers 250 may produce teaching...,기술과학,인공지능
3,정보 처리 장치(100)는 차량(10)의 운행 관리 지원을 행하는 서비스를 제공하는...,정보 처리 장치(100)는 차량(10)의 운행 관리 지원을 행하는 서비스를 제공하는...,The information processing device 100 receives...,"That is, the information processing device 100...",기술과학,인공지능
4,"상기 서버는 AI 시스템을 이용하여 해킹 사례를 빅데이터 분석하고, CBR 시스템을...","상기 서버는 AI 시스템을 이용하여 해킹 사례를 빅데이터 분석하고, CBR 시스템을...",The server may analyze big data of hacking cas...,The server may analyze big data of hacking cas...,기술과학,인공지능
...,...,...,...,...,...,...
10126,마무리 공정은 클링커에 적당한 양의 석고 등을 추가하여 시멘트 밀로 미세 분쇄하여 ...,마무리 공정은 클링커에 적당한 양의 석고 등을 추가하여 시멘트 밀로 미세 분쇄하여 ...,The finishing process is a process of obtainin...,The finishing process is a process of obtainin...,기술과학,인공지능
10127,단계 S1110에서 영상 처리 장치는 제1 계층의 특징맵들의 영상 특성 정보를 외부...,단계 S1110에서 영상 처리 장치는 제1 계층의 특징맵들의 영상 특성 정보를 외부...,"In step S1110, the image processing device may...","In operation S1110, the image processing appar...",기술과학,인공지능
10128,"임피던스 계측을 위한 교류 전류 I1, I2가 주행 모터(53) 등의 부하에 흐르는...","임피던스 계측을 위한 교류 전류 I1, I2가 주행 모터(53) 등의 부하에 흐르는...",Since the alternating currents I1 and I2 for t...,Since the alternating currents I1 and I2 for i...,기술과학,인공지능
10129,"상호 작용식 미디어 안내 애플리케이션은 유저가 콘텐츠 사이를 탐색하고, 콘텐츠의 위...","상호 작용식 미디어 안내 애플리케이션은 유저가 콘텐츠 사이를 탐색하고, 콘텐츠의 위...",An interactive media guidance application may ...,An interactive media guidance application may ...,기술과학,인공지능
10130,컨볼루션 신경망(312)은 데이터베이스(140)에 입력된 IVUS 원영상 및 샘플 ...,컨볼루션 신경망(312)은 데이터베이스(140)에 입력된 IVUS 원영상 및 샘플 ...,The convolutional neural network 312 may deter...,The convolutional neural network 312 may deter...,기술과학,인공지능